* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   
   #contain {
    position: absolute;
    top: 10px;
    left: 10px;
   }
   
   .circle , .circle::after{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    position: absolute;
    box-sizing: border-box;
   }
   
   .circle.blue {
    border-color: blue;
   }
   
   .circle.blue::after {
    content: " ";
    border-color: blue;
    top: -10px;
    left:-10px;
    z-index: 1;
    border-bottom-color: transparent;
   }
   
   .circle.black {
    border-color: black;
    top: 0;
    left: 230px;
   }
   
   .circle.black::after {
    top: -10px;
    left: -10px;
    content: "";
    border-color: black;
    z-index: 1;
    border-left-color: transparent;
   }
   
   .circle.red {
    border-color: red;
    top: 0;
    left: 460px;
   }
   
   .circle.red::after {
    border-color: red;
    top: -10px;
    left: -10px;
    content: "";
    z-index: 2;
    border-left-color: transparent;
   }
   
   .circle.yellow {
    border-color:yellow;
    top: 110px;
    left: 115px;
   }
   
   .circle.yellow::after {
    top: -10px;
    left: -10px;
    content: "";
    border-color: yellow;
   }
   
   .circle.green {
    top: 110px;
    left: 345px;
    border-color: green;
   }
   
   .circle.green::after {
    top: -10px;
    left: -10px;
    content: "";
    border-color: green;
    z-index: 1;
    border-top-color: transparent;
   }
   