body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
}

.main-nav ul li a.actives {
    font-weight: bold;
}

.main-nav .nav_search {
    display: flex;
    align-items: center;
}

.main-nav .nav_search input {
    margin-left: 10px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.course {
    flex-basis: 30%;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course img {
    width: 100%;
    height: auto;
}

.course-content {
    padding: 20px;
}

.course-content h2 {
    color: #333;
    margin-top: 0;
}

.course-content p {
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
